/* Folha de estilo do App */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*{
    background-color: black;
    color: blueviolet;
    font-family: 'DotGothic16', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh; /* Viewport Height */
}

button{
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    background: #515152;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background: white;
    color: blue;
    border: 1 px solid green;
    transform: scale(1.1);
}

img{
    width: 128px;
    border-radius: 64px;
    margin: 5px;
}

label, select{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}